name: Publish GitHub release

on:
  workflow_call:
    inputs:
      generate:
        description: Generate the parser artifacts
        default: false
        type: boolean
      release-body:
        description: The body of the release notes
        type: string
      abi-version:
        description: The tree-sitter ABI version
        default: 15
        type: number

permissions:
  contents: write
  id-token: write
  attestations: write

jobs:
  release:
    name: Build release artifacts
    runs-on: ubuntu-latest
    env:
      REPO_NAME: ${{github.event.repository.name}}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Set up tree-sitter CLI
        uses: tree-sitter/setup-action/cli@v2
      - name: Install dependencies
        run: |-
          if jq -e "$JQ_SCRIPT" package.json >/dev/null; then
            npm i --ignore-scripts --omit peer --omit optional
          fi
        env:
          JQ_SCRIPT: >-
            .dependencies + .devDependencies |
            with_entries(select(
            (.key | startswith("tree-sitter-"))
            and (.key != "tree-sitter-cli")
            )) | length > 0
      - name: Generate parser
        if: inputs.generate
        shell: bash
        run: |
          while read -r grammar_dir; do
            pushd "$grammar_dir"
            tree-sitter generate
            popd > /dev/null
          done < <(jq -r '.grammars[].path // "."' tree-sitter.json)
        env:
          TREE_SITTER_ABI_VERSION: ${{inputs.abi-version}}
      - name: Build Wasm binaries
        shell: bash
        run: |-
          while read -r grammar_dir; do
            tree-sitter build --wasm "$grammar_dir"
          done < <(jq -r '.grammars[].path // "."' tree-sitter.json)
      - name: Create source code tarball
        run: |
          git ls-files > "$RUNNER_TEMP/files"
          while read -r src_dir; do
            printf '%s\n' >> "$RUNNER_TEMP/files" \
              "$src_dir"/parser.c "$src_dir"/grammar.json \
              "$src_dir"/node-types.json "$src_dir"/tree_sitter/*
          done < <(jq -r "$JQ_SCRIPT" tree-sitter.json)
          tar cvzf "$REPO_NAME.tar.gz" -T <(sort -u "$RUNNER_TEMP/files")
        env:
          JQ_SCRIPT: >-
            .grammars[] |
            if (.path? // ".") == "."
            then "src"
            else "\(.path)/src"
            end
      - name: Generate attestations
        uses: actions/attest-build-provenance@v3
        with:
          subject-path: |
            *.wasm
            ${{env.REPO_NAME}}.tar.gz
      - name: Create GitHub release
        run: |-
          RELEASE_NOTE="**NOTE:** Download \`$REPO_NAME.tar.gz\` for the *complete* source code."
          RELEASE_NOTE="${RELEASE_BODY}${RELEASE_BODY:+$'\n\n---\n\n'}${RELEASE_NOTE}"
          gh release create "$GITHUB_REF_NAME" *.wasm "$REPO_NAME.tar.gz" -n "$RELEASE_NOTE"
        env:
          GH_TOKEN: ${{github.token}}
          RELEASE_BODY: ${{inputs.release-body}}
